footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm) var(--spacing-base);
  padding: var(--spacing-base);
}

.language-icon {
  vertical-align: middle;
  margin-right: var(--spacing-sm);
}

.footer-nav-link.en:lang(pt),
.footer-nav-link.pt:lang(en),
:root.light .footer-nav-link.dark,
.dark .footer-nav-link.light {
  opacity: 0.47;
}

.footer-nav-link.en:lang(pt):hover,
.footer-nav-link.pt:lang(en):hover,
:root.light .footer-nav-link.dark:hover,
:root.dark .footer-nav-link.light:hover {
  opacity: 1;
  transition: opacity var(--transition-duration);
}

.footer-credits-novcmbro-link {
  font-weight: var(--font-bold);
}

.footer-nav-link.light,
.footer-nav-link.dark {
  display: inline-block;
}

@media screen and (max-width: 520px) {
  .footer-credits {
    order: 3;
    text-align: center;
    margin: 0 auto;
  }
}
