footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm) var(--spacing-base);
  text-align: center;
  padding: var(--spacing-base);
}

.footer-language-nav .language-icon {
  vertical-align: text-bottom;
  margin-right: var(--spacing-sm);
}

.footer-language-link.pt:lang(en),
.footer-language-link.en:lang(pt) {
  opacity: 0.47;
}

.footer-language-link.pt:lang(en):hover,
.footer-language-link.en:lang(pt):hover {
  opacity: 1;
  transition: opacity var(--transition-duration);
}

.footer-novcmbro-link {
  font-weight: var(--font-bold);
}

@media screen and (min-width: 700px) {
  footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-credits {
    margin: 0 auto;
  }
}
