:root {
  /* Colors */
  --white: #f5f5f5;
  --dark-white: #eeeeee;
  --dark-gray: #383838;
  --light-black: #222222;
  --black: #0f0f0f;
  --light-green: #46bd70;
  --dark-green: #27a186;
  --medium-blue: #195f74;
  --orange: #fc6453;
  --gradient: #9303f5, #d803db, #fe1d59, #fc6453, #ffae3e, #ffed18;
  /* Fonts */
  --primary-font: "Rubik", sans-serif;
  --font-base: 1rem;
  --font-sm: calc(var(--font-base) / 1.25);
  --font-md: calc(var(--font-base) * 1.25);
  --font-lg: calc(var(--font-base) * 1.5);
  --font-xl: calc(var(--font-base) * 2.5);
  --font-xxl: calc(var(--font-base) * 3.5);
  --font-medium: 500;
  --font-bold: 700;
  /* Spacings */
  --spacing-base: 1rem;
  --spacing-sm: calc(var(--spacing-base) / 2);
  --spacing-md: calc(var(--spacing-base) * 1.5);
  --spacing-lg: calc(var(--spacing-base) * 2);
  --spacing-xl: calc(var(--spacing-base) * 3);
  /* Border */
  --border-size: 4px;
  /* Shapes */
  --shape: 20px;
  /* Shadow */
  --shadow-opacity: 0.5;
  --shadow: 2px 2px 5px rgb(0, 0, 0, var(--shadow-opacity));
  /* Animation */
  --transition-duration: 0.5s;
  
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  font-size: var(--font-md);
  font-weight: var(--font-medium);
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
  flex-grow: 1;
  padding: var(--spacing-base);
  padding-top: 0;
}

a {
  position: relative;
  color: currentColor;
  text-decoration: none;
}

a:focus {
  border: none;
  outline: none;
}

a::after {
  content: "";
  background: linear-gradient(to right, var(--gradient));
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: var(--border-size);
}

a:hover::after,
a:focus::after {
  width: 100%;
  transition: width var(--transition-duration);
}

label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  z-index: -9999;
}

textarea {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: var(--font-md);
  font-weight: inherit;
  width: 100%;
  min-height: 200px;
  resize: none;
}

textarea:focus {
  border: none;
  outline: none;
}

@media screen and (min-width: 900px) {
  main {
    flex-direction: row;
  }

  .input-section {
    width: 70%;
  }

  .output-section {
    width: 50%;
  }
}
