.input-section {
  box-shadow: var(--shadow);
  border-radius: var(--shape);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
  flex-grow: 1;
  padding: var(--spacing-md);
  outline-width: var(--border-size);
  outline-style: solid;
  outline-offset: calc(var(--border-size) * -1);
  transition: outline-color var(--transition-duration);
}

.input-section.input-field-has-focus {
  outline-color: currentColor;
}

.input-section.input-field-is-invalid {
  --shake-distance: 5px;
  outline-color: var(--orange);
  -webkit-animation: shake var(--transition-duration) 2 linear;
  animation: shake var(--transition-duration) 2 linear;
}

.input-section.input-field-is-invalid .input-field-message {
  color: var(--orange);
  transition: color var(--transition-duration);
}

.input-field {
  flex-grow: 1;
  font-size: var(--font-lg);
}

.input-field::-webkit-input-placeholder {
  opacity: 1;
}

.input-field::-moz-placeholder {
  opacity: 1;
}

.input-field:-ms-input-placeholder {
  opacity: 1;
}

.input-field::-ms-input-placeholder {
  opacity: 1;
}

.input-field::placeholder {
  opacity: 1;
}

.input-field:placeholder-shown ~ .button-container .button::after {
  background-color: var(--dark-gray);
  opacity: 0.47;
  transition: background-color var(--transition-duration);
}

.input-field-message {
  font-size: var(--font-sm);
  text-align: justify;
}

.input-field-message .alert-icon {
  float: left;
  margin-right: var(--spacing-sm);
}

@-webkit-keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(var(--shake-distance)); }
  75% { transform: translateX(calc(var(--shake-distance) * -1)); }
  100% { transform: translateX(0); }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(var(--shake-distance)); }
  75% { transform: translateX(calc(var(--shake-distance) * -1)); }
  100% { transform: translateX(0); }
}
