@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--white);
    color: var(--dark-gray);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-opacity: 1;
    background-color: var(--black);
    color: var(--white);
  }
}
